/* 
TODO:
  1. Fix all tile types so when off/on they change to the correct background color
  2. Garage cover right arrow spacing
    a. Or, use single arrow based on garage state
    b. Or, stack arrows on top of each other
  3. Gauge background needs fixing. Gauge seems to be dynamic calculated and not filling up tile correctly which messes up background color
 */

/* Disable blinking of the clock colon for Pages */
.clock--colon {
  animation: none; /* Changed from main.css */
  font-size: 0.93em;
  margin: 0 3px;
}

/* For 12 hour clock, align AM/PM to bottom */
.clock--postfix {
  font-size: 0.4em;
  line-height: 1.75em;
  margin-left: 5px;
  vertical-align: text-bottom; /* Changed from main.css */
}

/* Align groups to bottom of page */
.page-align {
  height: 100%;
  width: 0;
  vertical-align: bottom; /* Changed from main.css */
  display: inline-block; 
  margin-left: 120px;
}

/* Not sure how this works, but without it, button portion of icons are cut off */
.item-entity {
  overflow: visible;
}

/* Color climate text based on current action/mode */
.hvac-mode--cooling {
  color: #2b9af9;
}
.hvac-mode--heating {
  color:orange;
}
.hvac-mode--idle {
  color: #544d4b;
}

/* Change background color for when light is on
   TODO: Breaks non-homekit themes so probably not doing this one right
 */
 .-theme-homekit .item.-th-light.-on {
  background-color: #FFFFFF; /* Changed from main.css */
}

/* Change entity icon color to match what Homekit looks like when 'on' */
.-theme-homekit .item.-on .item-entity--icon {
  color: #F3C436;
}

/* Add garage cover background for closed */
.-theme-homekit .item.-closed {
  color: #544d4b;
  background: linear-gradient(to right bottom, rgba(253, 251, 249, 0.95), rgba(245, 245, 245, 0.8));
}

/* Capitilize first letter of hvac mode on climate tile
   idle becomes "Idle", etc...
   TODO: Add color to mode based on which mode is in use
 */
 .item-climate--mode {
  text-transform: capitalize;
}

/* Attempt to make HOMEKIT bottom menu look more like side menu theme */
.-theme-homekit .pages-menu.-bottom {
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  border-top: none;
  padding: 0;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--scroll-indicator {
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
}
.-theme-homekit .pages-menu.-bottom .pages-menu--item {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-size: 32px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  opacity: 0.5;
  margin: 5px auto;
  cursor: pointer;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--item.-active {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  color: #fefefe;
}

/* Center text in bottom of tiles */
.item-title {
  text-align: center;
}

/* Camera Tiles - Round corners */
camera,
camera-thumbnail,
camera_stream {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
camera div,
camera-thumbnail div,
camera_stream div {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.01;
  border-radius: 8px;
}

/* iFrame Tiles - Round corners */
.item-iframe {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.item-iframe iframe {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 8px;
}

/* List Item Tiles - Format line spacing out a bit more */
.item-list--item {
  line-height: 22px;
}

/* Item Entity Icon Size - Make larger overall */
.item-entity--icon {
  font-size: 72px;
  line-height: 100px;
}