/* Disable blinking of the clock colon for Pages */
.clock--colon {
  animation: none; /* Changed from main.css */
  font-size: 0.93em;
  margin: 0 3px;
}

/* For 12 hour clock, align AM/PM to bottom */
.clock--postfix {
  font-size: 0.4em;
  line-height: 1.75em;
  margin-left: 5px;
  vertical-align: text-bottom; /* Changed from main.css */
}

/* Align groups to bottom of page */
.page-align {
  height: 100%;
  width: 0;
  vertical-align: bottom; /* Changed from main.css */
  display: inline-block; 
  margin-left: 120px;
}

/* Not sure how this works, but without it, button portion of icons are cut off */
.item-entity {
  overflow: visible;
}

/* .-small-sensor-tile .item-entity {
    position: absolute;
    height: 72px;
    line-height: 72px;
    top: calc(50% - 45px);
    left: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
  } */

/* Change background color for when light is on */
 .-theme-homekit .item.-th-light.-on {
  background-color: #FFFFFF; /* Changed from main.css */
}

/* Add garage cover background for closed */
.-theme-homekit .item.-closed {
  color: #544d4b;
  background: linear-gradient(to right bottom, rgba(253, 251, 249, 0.95), rgba(245, 245, 245, 0.8));
}

/* Capitilize first letter of hvac mode on climate tile
   idle becomes "Idle", etc...
 */
 .item-climate--mode {
  /* text-transform: capitalize; */
  text-transform: lowercase;
}
/* Color climate text based on current action/mode */
.hvac-mode--cooling {
  color: #2b9af9;
}
.hvac-mode--heating {
  color:orange;
}
.hvac-mode--idle {
  color: #544d4b;
}
/* Put Climate info in the middle */
.item-climate {
  padding: 40px 3px 0;
}
.item-climate--target {
  font-size: 40px;
  line-height: normal;
}
/* +/- buttons on climate */
.item-button {
  font-size: 1.9em;
}
.item-button.-bottom-right {
  bottom: 10px;
}
.item-button.-center-right {
  bottom: 58px;
}

/* Attempt to make HOMEKIT bottom menu look more like side menu theme */
.-theme-homekit .pages-menu.-bottom {
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  border-top: none;
  padding: 0;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--scroll-indicator {
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
}
.-theme-homekit .pages-menu.-bottom .pages-menu--item {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-size: 32px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  opacity: 0.5;
  margin: 5px auto;
  cursor: pointer;
}
.-theme-homekit .pages-menu.-bottom .pages-menu--item.-active {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  color: #fefefe;
}

/* Camera Tiles - Round corners */
camera,
camera-thumbnail,
camera_stream {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
camera div,
camera-thumbnail div,
camera_stream div {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.01;
  border-radius: 8px;
}

/* iFrame Tiles - Round corners */
.item-iframe {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.item-iframe iframe {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 8px;
}

/* List Item Tiles - Format line spacing out a bit more */
.item-list--item {
  line-height: 22px;
}

/* Item Entity Icon Size - Make larger overall */
.item-entity--icon {
  font-size: 100px;
  line-height: 90px;
}

/* Item Entity Icon Size Small - For half size tiles */
/* Item Entity Icon Size - Make larger overall */
.-small-sensor-tile .item-entity--icon {
  font-size: 50px;
}

/* Text for top of tile */
.-theme-homekit .item-state {
  font-size: 1.1em;
  background: transparent;
  font-weight: 500;
  color: #686868;
  padding: 3px 5px 2px;
  top: 11px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Center text in bottom of tiles */
.item-title {
  text-align: center;
}

.-small-sensor-tile .item-title {
  text-align: center;
  font-size: 10px;
}


/* Change entity icon color to match what Homekit looks like when 'on' */
.-theme-homekit .item.-on .item-entity--icon {
  color: #F3C436;
}

/* Trash Can Icon Color */
.-theme-homekit .item.-on.-sensor-trash .item-entity--icon {
  color: #10938D;
}

/* Recycle Can Icon Color */
.-theme-homekit .item.-on.-sensor-recycle .item-entity--icon {
  color: #13AC20;
}

/* Yard Waste Icon Color */
.-theme-homekit .item.-on.-sensor-yard-waste .item-entity--icon {
  color: #B5651D;
}

/* Garage Open color to try and match homekit */
.-theme-homekit .item.-open .item-entity--icon,
.-theme-homekit .item.-on.item-entity--icon {
  color: #F6810F;
}

/* Quick hack for unknown states to dim tile */
.-theme-homekit .item.-unknown,
.-theme-homekit .item.-disarmed,
.-theme-homekit .item.-off {
  color: #544d4b;
  background: linear-gradient(to right bottom, rgba(253, 251, 249, 0.95), rgba(245, 245, 245, 0.8));
}